{% extends 'base.html' %}
{% load staticfiles %}

{# 标题 #}
{% block title %}
    主页
{% endblock %}

{# 标题栏高亮 #}
{% block nav_home_active %}
    active
{% endblock %}

{# 网页内容 #}
{% block content %}
    <div class="starter-template">
        <div class="container">
            {% for item in question_and_choice %}
                <div id="choice_{{ item.0.0 }}" class="container question" style="display:none;" data-finished="0">
                    <h4>{{ item.0.0 }}.{{ item.0.1 }}</h4>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    {% for choice in item.1 %}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default select choice_{{ item.0.0 }}" data-anwser="{{ item.0.0 }}_{{ choice.0 }}" data-num="choice_{{ item.0.0 }}">
                                {{ choice.0 }}.{{ choice.1 }}
                            </button>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="starter-template">
        <div class="container">
            <button id="next_btn" class="btn btn-block btn-primary" type="button" onclick="next_page()" style="display:none;">下一页</button>
            <button id="over_btn" class="btn btn-block btn-success" type="button" style="display:none;">完成</button>
        </div>
        <br>
        <div class="container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><span class="sr-only">60% Complete</span></div>
            </div>
        </div>
    </div>
{% endblock %}

{# 代码区域 #}
{% block script %}
    <script type="text/javascript">
        var choice_button = document.getElementsByClassName("select");
        var finished_tag = 0;
        var questions = document.getElementsByClassName("question");
        var start_num = 0;
        var last_num = 0;

        // 给选项按钮添加点击事件
        for (var i = choice_button.length - 1; i >= 0; i--) {
            choice_button[i].onclick = function(){
                // 清除同一道题的其它选项的颜色
                var clear_class = this.getAttribute("data-num");
                var clear_class_buttons = document.getElementsByClassName(clear_class);
                for (var j = clear_class_buttons.length - 1; j >= 0; j--) {
                    clear_class_buttons[j].classList.remove("btn-info");
                }
                this.classList.add("btn-info");
                // 标识该题已经选过
                var target_question = document.getElementById(clear_class);
                if (target_question.getAttribute("data-finished") == "0") {
                    target_question.setAttribute("data-finished", "1");
                    finished_tag += 1;
                    if (finished_tag >= 5) {
                        finished_tag = 0;
                        document.getElementById("next_btn").style.display = "inline";
                    }
                }
            }
        }

        // 显示前五题
        function show_questions() {
            var i = 0;
            for (i = last_num; i < last_num + 5 && i < questions.length; i++) {
                questions[i].style.display = "inline";
            }
            start_num = last_num;
            last_num = i;
        }
        // 点击下一页触发的函数
        function next_page() {
            var i = 0;
            for (i = start_num; i < last_num; i++) {
                questions[i].style.display = "none";
            }
            show_questions();
            this.style.display = "none";
        }
        show_questions();
    </script>
{% endblock %}
