{% extends 'base.html' %}
{% load staticfiles %}

{# 标题 #}
{% block title %}
    关于我们
{% endblock %}

{# 标题栏高亮 #}
{% block nav_about_active %}
    active
{% endblock %}

{# 网页内容 #}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <div class="container">
            <h1>广药职规工作室起源</h1>
            <p>广药职规工作室是XXX的时候建立的...经历了啥啥啥...(这里需要图文美化)</p>
            <h2>初代功臣</h2>
            <p>这里放你们的合照</p>
        </div>
        <div class="container">
            <h1>部门介绍</h1>
            <h2>公关外联部</h2>
            <p>配上部门合照</p>
            <p>是为工作室创造新机遇与拓展新资源的重要部门。我们发挥交际才能联络校内校外各种资源，施展百般技能推动工作室走得更远。</p>
            <h2>信息技术部</h2>
            <p>配上部门合照</p>
            <p>工作室的核心部门。我们在无线网中飞舞，遨游在文字与数字之间。运用敏锐的数据分析能力、熟练的软件工具应用技能、以及卓越的审美，在互联网世界驰骋。</p>
            <h2>财秘处</h2>
            <p>配上部门合照</p>
            <p>工作室的中坚力量。我们掌握着工作室的财政大权，我们如同桥梁将所有的部门联系在一起，操持着工作室正常的运营活动。</p>
        </div>
        <div class="container">
            <h1>现任职人员</h1>
            <h2>公关外联部</h2>
            <p>配上个人照</p>
            <p>人员名字以及个人基本信息</p>
            <h2>信息技术部</h2>
            <p>配上个人照</p>
            <p>人员名字以及个人基本信息</p>
            <h2>财秘处</h2>
            <p>配上个人照</p>
            <p>人员名字以及个人基本信息</p>
        </div>
        <div class="container">
            <h1>历届人员</h1>
            <h2>xxx...</h2>
        </div>
      </div>

    </div><!-- /.container -->
{% endblock %}
